@model List<AppUser>
@{
    ViewData["Title"] = "Index";
}

<h4>List User</h4>
<hr/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
            <th>
                Action
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model?.Any()==true)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Update" asp-route-id=" @item.Id">Edit</a>
                        |
                        <a asp-controller="User" asp-action="Delete" asp-route-id=" @item.Id">Delete</a>
                        |
                        <input type="checkbox" asp-controller="User" asp-action="AddToRoleAdmin" asp-route-id=" @item.Id" asp-route-roleName="admin" value="Make Is Admin"/>
                    </td>
                    <td>
                        @if (item.UserRoles != null)
                        {
                            foreach ( var roleName in item.UserRoles)
                            {
                                <p>@roleName.Role.Name</p>
                            }
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Not Found User</td>
            </tr>
        }
    </tbody>
</table>

