@model PhoneBook.EndPoints.Mvc.Models.PersonDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<img src="~/peopleImages/@Model.Image" width="200px" height="200px"/>
<div>
    <span>FirstName: </span>
    <span>@Model.FirstName</span>
</div>
<div>
    <span>LastName: </span>
    <span>@Model.LastName</span>
</div>
<div>
    <span>Email: </span>
    <span>@Model.Email</span>
</div>
<div>
    <span>Address: </span>
    <span>@Model.Address</span>
</div>
<div>
    <span>Tags: </span>
    @foreach (var item in Model.PersonTags)
    {
        <span>@item.Title</span>
    }
</div>
@if (Model.Phones != null || Model.Phones.Count() > 0)
{
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Row</th>
                <th>Phone Number</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var row = 0;
                foreach (var item in Model.Phones)
                {
                    row++;
                    <tr>
                        <td>@row</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <a class="fa fa-trash" 
                               asp-controller="Phones" 
                               asp-action="Delete" 
                               asp-route-id="@item.Id" 
                               asp-route-personId="@item.Person.Id">
                            </a>
                        </td>
                        
                    </tr>
                }
             }
        </tbody>
    </table>

}
<div>
    <a class="btn btn-secondary" asp-controller="Phones" asp-action="Add" asp-route-id="@Model.PersonId">
        Add Number Phone
    </a>
</div>

